{% trans %}
<div class="about-module-content">
<div class='about'>

<div class= 'about-logos'>
<img src = "https://opendata.com.pk/images/ncbc.png" width="125" height="100">
</div>
<div class ='about-logos'>
<img src="https://opendata.com.pk/images/lums.png" width="100" height="100">
</div>
<div class = 'about-logos'>
<img src="https://opendata.com.pk/images/hec.png" width="100" height="100">
</div>
<p>
Open Data Pakistan is brought to you by the National Center for Big Data and Cloud Computing (NCBC), Lahore University of Management Sciences (LUMS) and Higher Education Commission (HEC). It is a collaborative effort to help provide open data to all kinds of users, such as researchers, policymakers, communities, and businesses alike.
</p>
<p>
Open data is data that anyone can access, use and share. Governments, businesses, and individuals can use open data to bring about social, economic and environmental benefits.
</p>
<p>
Open Data Pakistan is one standardized platform that aims to create a culture of sharing data in Pakistan within every sector, public and private. A major goal is to have all datasets of Pakistan on this portal; therefore, it is crucial for different institutions to sign up and publish data and visualizations. This open data portal can be used as a tool to disseminate raw data and information. The portal also aims to help unlock the value of data by being able to analyze it in machine-readable and open formats.
</p>
<h1 class="page-heading">Disclaimer</h1>
<p>
To promote the open data culture, we have uploaded datasets with proper citation from reports and websites that are publicly available online. If any organization has any reservations, please contact us through the connect page, and we will immediately remove the dataset on request.
</p>
</div>

<div class='about-tweets'>
<a class="twitter-timeline" href="https://twitter.com/OpenDataPk?ref_src=twsrc%5Etfw">Tweets by OpenDataPk</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
</div>
{% endtrans %}
